# Aula 1 ‚Äì Introdu√ß√£o e Series
**üéØ Objetivo da Aula**

Compreender o que √© o pandas, por que ele √© essencial para an√°lise de dados, e aprender a usar sua estrutura mais simples: a Series.

**üß† 1. Teoria simples**

O pandas √© uma biblioteca que permite trabalhar com dados estruturados (tabelas) de forma muito mais f√°cil que listas ou arrays.
Ele √© o cora√ß√£o da an√°lise de dados em Python, pois combina a velocidade do NumPy com recursos para:

* organizar, limpar e transformar dados,

* ler e gravar arquivos (CSV, Excel, etc.),

* calcular estat√≠sticas,

* e at√© gerar gr√°ficos simples.

O pandas tem duas estruturas principais:

| Estrutura   | Descri√ß√£o                                             |
| ----------- | ----------------------------------------------------- |
| `Series`    | Vetor unidimensional com **r√≥tulos (√≠ndices)**        |
| `DataFrame` | Tabela 2D (como uma planilha), feita de v√°rias Series |

Nesta aula vamos focar na Series, que √© como uma ‚Äúcoluna nomeada‚Äù com √≠ndice.

**2. Demonstra√ß√£o pr√°tica**

Comece sempre com:

`import pandas as pd`

**üî∏ Criando uma Series**

In [3]:
import pandas as pd

# Criando uma Series a partir de uma lista
s = pd.Series([10, 20, 30, 40])
print(s)

0    10
1    20
2    30
3    40
dtype: int64

‚û° Os n√∫meros √† esquerda s√£o √≠ndices autom√°ticos.

**üî∏ Personalizando √≠ndices e nomes**

In [ ]:
s = pd.Series([10, 20, 30, 40], index=['A', 'B', 'C', 'D'], name='Vendas')
print(s)

A    10
B    20
C    30
D    40
Name: Vendas, dtype: int64

Agora cada elemento tem um r√≥tulo personalizado.

**üî∏ Acessando valores**

In [3]:
print(s['A'])      # Acessa pelo r√≥tulo
print(s[0])        # Acessa pela posi√ß√£o
print(s[['A', 'C']])  # V√°rios valores

10
10
A    10
C    30
Name: Vendas, dtype: int64

C:\Users\onnea\AppData\Local\Temp\ipykernel_10072\2036556699.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(s[0])        # Acessa pela posi√ß√£o

**üî∏ Opera√ß√µes matem√°ticas**

In [5]:
print(s * 2)         # Multiplica cada elemento por 2
print(s.mean())      # M√©dia
print(s.max())       # M√°ximo
print(s.describe())  # Resumo estat√≠stico

A    20
B    40
C    60
D    80
Name: Vendas, dtype: int64
25.0
40
count     4.000000
mean     25.000000
std      12.909944
min      10.000000
25%      17.500000
50%      25.000000
75%      32.500000
max      40.000000
Name: Vendas, dtype: float64

# 3. Exemplo do mundo real: notas de alunos

Vamos simular notas de alunos e calcular m√©tricas:

In [4]:
import pandas as pd

notas = pd.Series(
    [8.5, 6.0, 9.0, 7.5, 5.0],
    index=['Ana', 'Bruno', 'Carla', 'Daniel', 'Eduardo'],
    name='Notas'
)

print(notas)
print("\nM√©dia da turma:", notas.mean())
print("Aluno com maior nota:", notas.idxmax())
print("Aluno com menor nota:", notas.idxmin())

Ana        8.5
Bruno      6.0
Carla      9.0
Daniel     7.5
Eduardo    5.0
Name: Notas, dtype: float64

M√©dia da turma: 7.2
Aluno com maior nota: Carla
Aluno com menor nota: Eduardo

**Explica√ß√£o:**

* `.mean()` ‚Üí m√©dia das notas

* `.idxmax()` ‚Üí √≠ndice (nome) da maior nota

* `.idxmin()` ‚Üí √≠ndice (nome) da menor nota

# Exerc√≠cios

**F√°cil**

Crie uma `Series` chamada `idades` com 5 nomes e idades de pessoas.
Mostre:

1. A m√©dia das idades.

2. A pessoa mais velha e a mais nova.

In [8]:
idades = pd.Series(
    [18, 21, 23, 27, 32],
    index=["Breno", "Maria", "Gustavo", "Fernanda", "Flavio"],
    name="Idades"
)
print(idades)

print("A m√©dia das idades √©:", idades.mean())
print(f"A pessoa mais velha √© {idades.idxmax()} e a mais nova √© {idades.idxmin()}")

Breno       18
Maria       21
Gustavo     23
Fernanda    27
Flavio      32
Name: Idades, dtype: int64
A m√©dia das idades √©: 24.2
A pessoa mais velha √© Flavio e a mais nova √© Breno

**Intermedi√°rio**

Crie uma `Series` chamada `vendas_semanais` com o total de vendas por dia da semana (`Seg` a `Dom`).
Depois:

1. Mostre o total de vendas (`.sum()`).

2. Mostre a m√©dia di√°ria.

3. Mostre apenas os dias com vendas acima da m√©dia.

In [ ]:
vendas_semanais = pd.Series(
    [2323, 2345, 4231, 3244, 3988, 4009, 3514],
    index=["Seg", "Ter", "Qua", "Qui", "Sex", "Sab", "Dom"]
)
total_vendas = round(vendas_semanais.sum(), 2)
media_vendas = round(vendas_semanais.mean(), 2)
dias_acima_media = vendas_semanais > media_vendas

print("Vendas da semana:\n",vendas_semanais)
print("\nO total de vendas foi: R$", total_vendas)
print("M√©dia diaria: R$", media_vendas )
print("Dias acima da media:\n", vendas_semanais[dias_acima_media])

Vendas da semana:
 Seg    2323
Ter    2345
Qua    4231
Qui    3244
Sex    3988
Sab    4009
Dog    3514
dtype: int64

O total de vendas foi: R$ 23654
M√©dia diaria: R$ 3379.14
Dias acima da media:
 Qua    4231
Sex    3988
Sab    4009
Dog    3514
dtype: int64

**Desafio (an√°lise real)**

Simule um controle simples de despesas pessoais com uma Series chamada gastos, com √≠ndices sendo categorias (`Alimenta√ß√£o`, `Transporte`, `Lazer`, `Contas`, `Outros`).

1. Calcule o total e o percentual que cada categoria representa do total.

2. Mostre a categoria que mais consome seu or√ßamento.

3. (Extra) Ordene do maior para o menor gasto.

üí° Dica: use `gastos / gastos.sum() * 100` para obter os percentuais.

In [23]:
gastos = pd.Series(
    [649.94, 137.67, 230.01, 915.30, 56.89],
    index=["Alimenta√ß√£o", "Transporte", "Lazer", "Contas", "Outros"]
)

total_gastos = round(gastos.sum(), 2)
gastos_porcentagem = round(gastos / gastos.sum() * 100, 2)
gastos_descrescente = gastos.sort_values(ascending=False)

print("Gastos do M√™s:\n", gastos)
print("\nPorcentagem de cada gasto:\n", gastos_porcentagem)
print("\nGastos em ordem decrescente:\n", gastos_descrescente)
print("Total: R$:", total_gastos)

Gastos do M√™s:
 Alimenta√ß√£o    649.94
Transporte     137.67
Lazer          230.01
Contas         915.30
Outros          56.89
dtype: float64

Porcentagem de cada gasto:
 Alimenta√ß√£o    32.66
Transporte      6.92
Lazer          11.56
Contas         46.00
Outros          2.86
dtype: float64

Gastos em ordem decrescente:
 Contas         915.30
Alimenta√ß√£o    649.94
Lazer          230.01
Transporte     137.67
Outros          56.89
dtype: float64
Total: R$: 1989.81